.buttonRed
    background-color rgb(184, 45, 43)
    border-radius 4px
    border 0
    outline 0
    height 40px
    line-height 40px
    padding 0 17px
    color white
    font-size 15px
    font-weight 700
    box horizontal middle center
    text-decoration none
    transition all .3s

    white-space nowrap
    &:hover
        background-color lighten(rgb(184, 45, 43), 10%)
    span
        flex 0 1 auto
        margin-left .5em
        color rgb(220, 150, 149)
        font-size 13px
        line-height 40px
        font-weight 400

.buttonClose
    display block
    size 11px
    background-image inline("iconClose.png")
    background-repeat no-repeat
    background-position center center
    border 0
    outline 0
    background-color transparent
.buttonSetting
    display block
    size 13px
    background-image inline("iconSetting.png")
    background-repeat no-repeat
    background-position center center
    border 0
    outline 0
    background-color transparent

.buttonSimple
    border 0
    outline 0
    background-color transparent
    color rgb(184, 45, 43)
    font-size 14px
    font-weight 700
    box horizontal middle center

.buttonOutline
    border 1px solid rgb(210, 210, 210)
    border-radius 4px
    outline 0
    height 25px
    color black
    padding 0 9px
    font-size 13px
    font-weight 700
    line-height 25px
    background-color transparent
    flex-wrap nowrap
    white-space nowrap
    transition all .3s
    &:hover
        background-color rgb(184, 45, 43)
        border-color rgb(184, 45, 43)
        color #fff
.buttonDarkRed
    display block
    background-color rgb(184, 45, 43)
    border-radius 4px
    outline 0
    border 0
    padding 0 12px
    height 26px
    color white
    font-size 13px
    font-weight 400
    line-height 26px
    text-decoration none
    transition all .3s
    &:hover
        background-color lighten(rgb(184, 45, 43), 10%)
.iconDropdown
    flex 0 1 auto
    margin-left 11px
    size 7px 4px
    background-image inline("iconDropdown.png")
    background-repeat no-repeat
    background-position center center

.iconDropdownRed
    flex 0 1 auto
    margin-left 5px
    size 9px 6px
    background-image inline("iconDropdownRed.png")
    background-repeat no-repeat
    background-position center center
