.topBarLocation
    position absolute
    left -26px
    top 35px
    background-color #FFF
    z-index 10000
    width 670px
    min-height 340px
    border 1px solid rgb(210, 210, 210)
    border-top 1px dashed rgb(210, 210, 210)
    padding 20 25px 30px
    box vertical top space-around
    transition all .2s
    visibility hidden
    box-sizing border-box
    opacity 0
    z-index -1

.topBarLocationShow
    visibility visible
    opacity 1
    z-index 10000
.topBarLocation > *
    box-sizing border-box
.topBarLocationItems
    flex 0 1 auto
    width 100%
    box horizontal
    flex-wrap wrap
.topBarLocationItem
    lost-column 1/3
    margin-bottom 8px
    color black
    font-size 14px
    font-weight 400
    line-height 28px
    a
        color black
        text-decoration none
.topBarLocationItemCurent
    font-weight 700
.topBarLocationSearch
    flex 0 1 auto
    width 100%
.inputSerch
    width 100%
    background-image inline("iconSearch.png")
    background-repeat no-repeat
    background-position left 5px center
    height 30px
    background-color rgb(247, 247, 247)
    font-size 14px
    font-weight 400
    line-height 30px
    border 1px solid rgb(225, 225, 225)
    outline 0
    padding-left 30px
    text-align left
    box-sizing border-box
