.topBar
    display block
    position fixed
    font-family 'proxima-nova'
    width 100%
    top 0
    z-index 9000
    background-color rgb(234, 233, 233)
    height 62px
    transform translateY(-100px)
    transition all .5s

.topBar > *
    box-sizing border-box
.topBarShow
    transform translateY(0px)

.topBarWrap
    display block
    width 980px
    margin-left auto
    margin-right auto
    box horizontal middle space-between

.topBarPrice
    flex 0 0 auto
    height 62px
    box horizontal middle flex-start
    font-size 14px
    line-height 24px
    color black
    max-width 610px
    white-space nowrap
    a
        color rgb(184, 45, 43)
        font-weight 700
        text-decoration none
    .topBarPriceText
        overflow hidden
        padding-right 10px
        text-overflow ellipsis
.topBarPriceDeliveri
    margin-left 15px
    font-size 13px
    font-weight 400
    line-height 24px
    color rgb(157, 157, 157)
    box horizontal middle flex-start
    white-space nowrap
.iconTrack
    flex 0 1 auto
    margin-right 5px
    margin-left 2px
    background-image inline("iconTrack.png")
    background-repeat no-repeat
    background-position center center
    size 25px
.topBarCartIcon
    flex 0 1 auto
    margin-right 15px
    size 16px
    background-image inline("iconCart.png")
    background-repeat no-repeat
    background-position center center

.topBarControl
    flex 0 1 auto
    height 62px
    box horizontal middle flex-end

.topBarShop
    margin-right 10px
.topBarMoreShop
    position relative
    margin-right 30px
.topBarSetting
    margin-right 25px
    position relative

.topBarSettingPopup
    visibility hidden
    opacity 0
    z-index -1
    position absolute
    right -10px
    top 37px
    z-index 9000
    background-color white
    border 1px solid rgb(210, 210, 210)
    min-height 50px
    min-width 250px
    font-size 15px
    font-weight 700
    padding 30px 50px
    white-space nowrap
    transition all .3s
    a
        color rgb(184, 45, 43)
.topBarSettingPopup > *
    box-sizing border-box
.topBarSettingPopupShow
    opacity 1
    visibility visible
    z-index 9000
