.topBarShops
    display block
    position absolute
    width 670px
    min-height 100px
    right -60px
    top 51px
    background-color #FFF
    border 1px solid rgb(210, 210, 210)
    box vertical left flex-start
    clear fix
    transition all .3s
    visibility hidden
    box-sizing border-box
    opacity 0
    z-index -1
.topBarShops > *
    box-sizing border-box
.topBarShopsShow
    visibility visible
    opacity 1
    z-index 10000
.topBarShopsHeader
    flex 0 1 auto
    width 100%
    padding 23px 25px 10px 25px
    font-size 18px
    font-weight 700
    border-bottom 1px solid rgb(210, 210, 210)
    line-height 24px

.topBarShopsHeaderPrice
    display block
    color rgb(126, 126, 126)
    font-size 13px
    line-height 24px
    b
        font-size 14px
        color rgb(184, 45, 43)
    span
        padding-left 7px
        font-size 13px
        font-weight 400

.topBarShopsControl
    flex 0 1 auto
    padding 20px 25px
    border-bottom 1px solid rgb(210, 210, 210)
    width 100%
.topBarShopsControlItem
    box horizontal middle flex-start
    flex-wrap nowrap
    flex 0 1 100%
    margin-bottom 10px
    position relative
    &:last-child
        margin-bottom 0px
    span
        line-height 24px
        color rgb(126, 126, 126)
        font-size 13px
        font-weight 400
        margin-right 5px
    button
        margin-right 5px
        &:last-child
            margin-right 0px

    label
        box horizontal middle flex-start
        margin-left 40px
        white-space nowrap
        color black
        font-size 14px
        font-weight 700
        line-height 28px
        input
            margin-right 8px
            size 15px

.topBarShopsItems
    box vertical

    //flex 0 0 100%
    padding 20px 25px 15px 25px
    width 100%
    //height 100%
.topBarShopsItem
    box horizontal middle space-between
    //flex-wrap nowrap
    flex 0 0 auto
.topBarShopsItemName
    flex 0 0 140px
    a
        color rgb(184, 45, 43)
        font-size 16px
        font-weight 700
        line-height 37px
        text-decoration underline

.topBarShopsItemStars
    flex 0 1 100px
    box horizontal middle space-between

.topBarShopsItemStar
    flex 0 1 auto
    margin-left 2px
    size 15px
    background-image inline("iconStar.png")
    background-repeat no-repeat
    background-position center center

.topBarShopsItemStarEmpty
    flex 0 1 auto
    margin-left 2px
    size 15px
    background-image inline("iconStarEmpty.png")
    background-repeat no-repeat
    background-position center center
.topBarShopsItemDelivery
    flex 0 1 140px
    color rgb(126, 126, 126)
    font-size 13px
    font-weight 400
    line-height 24px
    box horizontal middle flex-start

.topBarShopsItemPrice
    flex 0 1 85px
    color black
    font-size 14px
    line-height 24px
    font-weight 700
    span
        font-weight 400
.topBarShopsFooter
    flex 0 0 auto
    width 100%
    padding 0px 25px 5px
    box horizontal middle right
    color rgb(207, 207, 207)
    font-size 11px
    font-weight 400
    line-height 21px
    a
        padding-left 3px
        color rgb(207, 207, 207)
