@font-face
    font-family 'proxima-nova'
    src url('./src/Proxima-Nova-Bold.woff') format("woff")
    font-weight 700
    font-style normal

@font-face
    font-family 'proxima-nova'
    src url('./src/Proxima-Nova-Regular.woff') format("woff")
    font-weight 400
    font-style normal

// @font-face
//     font-family 'Corporate'
//     src url('CorporatesRegular.woff') format("woff")
//     font-weight 400
//     font-style normal
//
// @font-face
//     font-family 'CorporateA'
//     src url('CorporateARegular.woff') format("woff")
//     font-weight 400
//     font-style normal
// @font-face
//     font-family 'CorporateCons'
//     src url('CorporateACon.woff') format("woff")
//     font-weight 400
//     font-style normal
