doctype html
html(lang="en")
    head
        title Product-test.com Top Bar
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href='./css/woff.css', type="text/css", rel="stylesheet")
        link(href='./css/blocks.css', type="text/css", rel="stylesheet")
        script(src="./js/preload.js")
        script(src="./js/flexibility.js")
        //- include _favicon.jade
        <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        //-  include _font.jade
        //- include _svg.jade
        include _mixin.jade


    body
        include block/topBar
        block content
        script(src="./js/app.js")
