.topBarLocation
    .topBarLocationItems
        .topBarLocationItem.topBarLocationItemCurent
            a(href="#")  Москва
        .topBarLocationItem
            a(href="#") Санкт-Петербург
        .topBarLocationItem
            a(href="#") Екатеринбург
        .topBarLocationItem
            a(href="#") Краснодар
        .topBarLocationItem
            a(href="#") Уфа
        .topBarLocationItem
            a(href="#") Казань
        .topBarLocationItem
            a(href="#") Новосибирск
        .topBarLocationItem
            a(href="#") Нижний Новгород
        .topBarLocationItem
            a(href="#") Ростов-на-Дону
        .topBarLocationItem
            a(href="#") Воронеж
        .topBarLocationItem
            a(href="#") Красноярк
        .topBarLocationItem  
            a(href="#") Владивосток
        .topBarLocationItem  
            a(href="#") Челябинск
        .topBarLocationItem  
            a(href="#") Самара
        .topBarLocationItem  
            a(href="#") Пермь
        .topBarLocationItem  
            a(href="#") Екатеринбург
        .topBarLocationItem  
            a(href="#") Краснодар
        .topBarLocationItem  
            a(href="#") Нижний Новгород
        .topBarLocationItem  
            a(href="#") Ростов-на-Дону
        .topBarLocationItem  
            a(href="#") Челябинск
        .topBarLocationItem  
            a(href="#") Самара
    .topBarLocationSearch
        input.inputSerch
            
