.topBar
    .topBarWrap
        .topBarPrice
            .topBarCartIcon
            .topBarPriceText
                | Цена на &nbsp
                b Apple Phone 64Gb&nbspApple Phone 64Gb&nbsp
                | в магазине Эльдорадо —&nbsp
            a(href="#") 62 999 руб.
            .topBarPriceDeliveri
                | (
                .iconTrack
                | 250 руб.)
        .topBarControl
            .topBarShop
                a(href="#").buttonRed
                    | В магазин
            .topBarMoreShop
                a(href="#").buttonRed.js-openShops
                    | Ещё цены
                    span 156
                    .iconDropdown
                .topBarShops
                    .topBarShopsHeader
                        | Apple Phone 64Gb
                        .topBarShopsHeaderPrice
                            | Средняя цена:&nbsp
                            b 62 999 руб.
                            span (58 499 – 72 000 руб.)
                    .topBarShopsControl
                        .topBarShopsControlItem
                            span Ваш регион:
                            button.buttonSimple.js-openLocation
                                | Москва
                                .iconDropdownRed
                            include topbarlocation.jade
                        .topBarShopsControlItem
                            span Сортировать:
                            button.buttonOutline
                                | по популярности
                            button.buttonOutline
                                | по цене
                            button.buttonOutline
                                | по отзывам
                            label
                                input(type="checkbox")
                                | Цена с учетом доставки
                    .topBarShopsItems
                        - for (var i = 0; i < 3; ++i) {
                            .topBarShopsItem
                                .topBarShopsItemName
                                    a(href="#") Media Markt
                                .topBarShopsItemStars
                                    .topBarShopsItemStar
                                    .topBarShopsItemStar
                                    .topBarShopsItemStar
                                    .topBarShopsItemStar
                                    .topBarShopsItemStarEmpty
                                .topBarShopsItemDelivery
                                    .iconTrack
                                    | не производится
                                .topBarShopsItemPrice
                                    | 62 999 
                                    span руб.
                                .topBarShopsItemButton
                                    a(href="#").buttonDarkRed в магазин
                            .topBarShopsItem
                                .topBarShopsItemName
                                    a(href="#") Эльдорадо
                                .topBarShopsItemStars
                                    .topBarShopsItemStar
                                    .topBarShopsItemStar
                                    .topBarShopsItemStar
                                    .topBarShopsItemStar
                                    .topBarShopsItemStarEmpty
                                .topBarShopsItemDelivery
                                    .iconTrack
                                    | 300
                                .topBarShopsItemPrice
                                    | 2 999&nbsp
                                    span руб.
                                .topBarShopsItemButton
                                    a(href="#").buttonDarkRed в магазин
                        - }
                    .topBarShopsFooter
                        | Данные
                        a(href="#") Яндекс.Маркета

            .topBarSetting
                button.buttonSetting
                .topBarSettingPopup
                    | Сообщить об ошибке:<br>
                    a(href="#") Неверно определен товар
            .topBarClose
                button.buttonClose
